* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    height: 95px;
    width: 100%;
    background-color: #fde2e4;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}

.nav-about {
    font-size: 1rem;
    opacity: 50%;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-right: 10px;
}

#hero {
    height: 90vh;
    width: 100%;
    background-color: #e2ece9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.my_photo {
    height: 500px;
    width: 400px;
    background-image: url("my_photo.jpg");
    background-size: cover;
    border: 2px solid black;
    border-radius: 10px;
}

.my_photo:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.hero-name {
    font-size: 4.5rem;
}

.button {
    height:50px;
    width: 100px;
    border: 3px solid black;
    background-color: #fff1e6;
    border-radius: 20px;
    cursor:pointer;
}

#AboutMe {
    height: 50vh;
    width: 100%;
    background-color: #eae4e9;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.about {
    height: 100px;
    width : 50%;
    margin-left: 25rem;
    margin-top: 5rem;
    font-size: 90%;
    line-height: 1.5;
    text-align: justify; 
}

#projects {
    height: 90vh;
    width: 100%;
    background-color: #fde2e4;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.P {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.P div {
    height: 150px;
    width: 200px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.P div:hover {
    height: 190%; 
    border: 2px solid black;
}

.P p {
    padding-top: 15px;
}

.P button {
    background-color: #e2ece9;
    height: 30px;
    margin-top: 30px;
    width: 100px;
    border-radius: 10px;
}

.note {
    padding-top: 100px;
    line-height: 3rem;
}

#skills {
    height: 40vh;
    width: 100%;
    background-color: #cddafd;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.S {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.S div{
    height: 75px;
    width: 200px;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.S div:hover {
    height: 190%; 
    border: 2px solid black;
}

#ContactMe {
    height: 50vh;
    width: 100%;
    background-color: #dfe7fd;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.contactDetails {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.contactDetails div {
    height: 10rem;
    width: 20rem;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    line-height: 1.5rem;
}
.span {
    font-weight: 200;
    color: black;
}

#footer {
    height: 5vh;
    width: 100%;
    background-color: #231942;
    color: white;
    text-align: center;
    padding-top: 22px;
}